.cart-bloc{
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f6c932;
}


.list-cart{
    margin: 50px 0 50px 30px;
}

.list-cart-item{
    text-align: center;
    padding: 25px;
    width: 500px;
    margin: auto;
    background-color: white;
}

.description{
    display: inline-block;
    color: black;
    vertical-align: middle;
    height: 46px;
    margin-left: 20px;

    /* Il faut une photo des chaussures sans collée au bas de l'image */
}

.notif-article{
    position: relative;
    display: inline-block;
    text-align: center;
    /* justify-content: center; */
    color: white;
    top: 0px;
    left: 40px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(179, 25, 25);
}

.product-buy-complete{
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.icon-descr{
    width: 100px;
    height: 46px;
}


#buy-it{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

#buy-it:hover{
    color: white;
    background: #000;
    box-shadow: 0 0 7px #000, 0 0 14px #000, 0 0 28px #000;
}


#buy-it span{
	position: absolute;
	display: block;
}


/*====================TOP========================*/
#buy-it span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
    background: linear-gradient(90deg, transparent, #000);
    animation: animate1 1s linear infinite;
}

@keyframes animate1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}


/* #buy-it:hover span:nth-child(1){
	left: 100%;
	transition: 0.6s;
} */
/*==============================================*/


/*======================BOT=========================*/
#buy-it span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
    background: linear-gradient(270deg, transparent, #000);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3{
    0%{
        right: -100%;
    }
    
    50%, 100%{
        right: 100%;
    }
}


/*======================================================*/


/*======================RIGHT=============================*/
#buy-it span:nth-child(2){
	top: -100%;
	right: 0%;
	width: 2px;
	height: 100%;
    background: linear-gradient(180deg, transparent, #000);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2{
    0%{
        top: -100%;
    }
    
    50%, 100%{
        top: 100%;
    }
}

/*===========================================================*/

/*========================LEFT=============================*/
#buy-it span:nth-child(4){
	top: 100%;
	left: 0%;
	width: 2px;
	height: 100%;
    background: linear-gradient(360deg, transparent, #000);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4{
    0%{
        top: 100%;
    }
    
    50%, 100%{
        top: -100%;
    }
}

/*=====================================================================================*/
