@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); /*'Roboto'*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); /*'Montserrat'*/
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap'); /*'Alata'*/
@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap'); /*'Zhi Mang Xing'*/
/*Import des google fonts*/
@import url('https://fonts.googleapis.com/css?family=Frijole&display=swap'); /*Frijole*/
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap'); /*'Blac Ops One'*/


@font-face {
    font-family: "RoadRage";
    src: url("../font/RoadRage.eot");
    src: url("../font/RoadRage.woff") format("woff"),
    url("../font/Road_Rage.otf") format("opentype"),
    url("../font/RoadRage.svg") format("svg");
}

*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
    scroll-behavior: smooth; 
    text-decoration: none; 
    font-family: 'Roboto';
}

.struc{
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100vh;
}

.bloc1{
    background-color: #f6c932;
}

.bloc1 .logo, .bloc1 .slideshow-container .mySlides, .bloc1 .three-points{
    justify-content: center;
    text-align: center;
}
.logo{
    margin: 30px 0 0 0;
}

.fa-bars{
    position: absolute;
    color: black;
    font-size: 40px;
    padding: 40px 40px 40px 50px;
}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: 150px auto 0 auto;
    /* margin: auto; */
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img{
    width: 100%;
    height: 100%;
}

/* The dots/bullets/indicators */
.three-points .fas {
    cursor: pointer;
    padding: 0% 10px 0% 0%;
    color: white;
    display: inline-block;
    transition: color 0.6s ease;
}

.active, .three-points .fas:hover {
    color: #717171;
}

/* Fading animation */
.fade {
    margin-top: 50px;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

nav{
    position: absolute;
    display: inline-block;
    transform: translate(0, 15vh) rotate(-90deg);
}

nav ul{
    display: inline-block;
    list-style: none;
    padding-bottom: 70%;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    font-family: 'Montserrat';
    font-weight: bold;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}


.bloc2{
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: white;
}

.top-part{
    /* justify-content: center;
    align-items: center; */
    margin: auto 10px auto 10px;
}

.search-box{
    display: inline-block;
    /* margin: 30px 0 0 15px; */
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 8px;
    transition: 0.4s;
    background: none;
    width: 200px;
}

.search-box:hover{
    border: 3px solid #f6c932;
}

.search-text{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #676f7B;
    color: #000000;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}

.search-box .fa-search{
    text-decoration: none;
    color: #f6c932;
    font-size: 16px;
}

.log{
    display: block;
    float: right;
    /* margin: 30px 10px 0 0; */
}

.log a{
    color: #f6c932;
    padding-bottom: 2px;
    border-bottom: transparent solid 1px;
    transition: 0.4s;
}

.log a:hover{
    border-bottom: #f6c932 solid 1px;
}

.product-description{
    margin: auto;
}

.product-name h1{
    font-size: 50px;
    font-family: 'Montserrat';
    text-align: center;
}
.product-ref p{
    font-size: 20px;
    font-family: 'RoadRage';
    /* text-align: center; */
    color: #f6c932;
}