@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); /*'Roboto'*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); /*'Montserrat'*/
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap'); /*'Alata'*/
@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap'); /*'Zhi Mang Xing'*/
/*Import des google fonts*/
@import url('https://fonts.googleapis.com/css?family=Frijole&display=swap'); /*Frijole*/
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap'); /*'Blac Ops One'*/


@font-face {
    font-family: "RoadRage";
    src: url("../font/RoadRage.eot");
    src: url("../font/RoadRage.woff") format("woff"),
    url("../font/Road_Rage.otf") format("opentype"),
    url("../font/RoadRage.svg") format("svg");
}

*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
    scroll-behavior: smooth; 
    text-decoration: none; 
    font-family: 'Roboto';
}

.struc{
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100vh;
}

.bloc1{
    background-color: #f6c932;
}

.bloc1 .logo, .bloc1 .slideshow-container .mySlides, .bloc1 .three-points{
    justify-content: center;
    text-align: center;
}
.logo{
    margin: 30px 0 0 0;
}

.fa-bars{
    position: absolute;
    color: black;
    font-size: 40px;
    padding: 40px 40px 40px 50px;
}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: 150px auto 0 auto;
    /* margin: auto; */
}

/* Hide the images by default */
.mySlides {
    display: none;
    /* filter: grayscale(100%);
    transition: 0.4s; */
}

.mySlides img{
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
    transition: 0.4s;
}

.mySlides:hover img{
    filter: grayscale(100%);
}

/* The dots/bullets/indicators */
.three-points .fas {
    cursor: pointer;
    padding: 0% 10px 0% 0%;
    color: white;
    display: inline-block;
    transition: color 0.6s ease;
}

.active, .three-points .fas:hover {
    color: #717171;
}

/* Fading animation */
.fade {
    margin-top: 50px;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

nav{
    position: absolute;
    display: inline-block;
    transform: translate(0, 15vh) rotate(-90deg);
}

nav ul{
    display: inline-block;
    list-style: none;
    padding-bottom: 70%;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    font-family: 'Montserrat';
    font-weight: bold;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}


.bloc2{
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: white;
}

.top-part{
    /* justify-content: center;
    align-items: center; */
    margin: auto 40px auto 40px;
}

.search-box{
    display: inline-block;
    /* margin: 30px 0 0 15px; */
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 8px;
    transition: 0.4s;
    background: none;
    width: 200px;
}

.search-box:hover{
    border: 3px solid #f6c932;
}

.search-text{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #676f7B;
    color: #000000;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
}

.search-box .fa-search{
    text-decoration: none;
    color: #f6c932;
    font-size: 16px;
}

.log{
    display: block;
    float: right;
    /* margin: 30px 10px 0 0; */
}

.log a{
    color: #f6c932;
    padding-bottom: 2px;
    border-bottom: transparent solid 1px;
    transition: 0.4s;
}

.log a:hover{
    border-bottom: #f6c932 solid 1px;
}

.product-description{
    margin: auto;
}

.product-name h1{
    font-size: 50px;
    font-family: 'Montserrat';
    text-align: center;
    text-transform: uppercase;
}
.product-ref p{
    font-size: 22px;
    line-height: 80%;
    font-family: 'RoadRage';
    text-align: center;
    color: #f6c932;
}

.size, .qty{
    outline: none;
    float: left;/**/
    width: 80%;
    height: 100%;
    padding: 0 0 0 8px;
    font-size: 20px;
    letter-spacing: 0.8px;
    cursor: pointer;
    border: 0;
    border-bottom: solid 2px #f6c932;
}

option{
    color: white;
    background-color: #f6c932;
}

.product-qty, .product-size{
    display: inline-block;
    position: relative;
    width: 45%;
    height: 50px;
    margin: 40px 0 30px 10px;
    overflow: hidden;
    line-height: 3;
}

.product-qty::after, .product-size::after{
    content: '\25bc';
    position: absolute;
    top: 0;
    right: 21%;
    bottom: 0;
    pointer-events: none;
}

.product-size:hover::after{
    color: #f6c932;
}


.product-buy{
    display: block;
    margin: 20px 0 0 10px;
    width: 93%;
    text-align: center;
}

#add_cart{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

#add_cart:hover{
    color: white;
    background: #f6c932;
    box-shadow: 0 0 7px #f6c932, 0 0 14px #f6c932, 0 0 28px #f6c932;
    transition-delay: 0.75s;
}


#add_cart span{
	position: absolute;
	display: block;
}


/*====================TOP========================*/
#add_cart span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #f6c932);
}


#add_cart:hover span:nth-child(1){
	left: 100%;
	transition: 0.6s;
}
/*==============================================*/


/*======================BOT=========================*/
#add_cart span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #f6c932);
}


#add_cart:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.3s;
}
/*======================================================*/


/*======================RIGHT=============================*/
#add_cart span:nth-child(2){
	top: -100%;
	right: 0%;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #f6c932);
}

#add_cart:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.15s;
}
/*===========================================================*/

/*========================LEFT=============================*/
#add_cart span:nth-child(4){
	top: 100%;
	left: 0%;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #f6c932);
}

#add_cart:hover span:nth-child(4){
	top: -100%;
	transition: 1s;
	transition-delay: 0.45s;
}
/*=====================================================================================*/


.product-availability{
    margin-top: 50px;
}

.product-availability p{
    display: inline-block;
    margin-right: 10px;
}

.dot-stock{
    margin-right: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: green;
    color: green;
    box-shadow: 0 0 7px green, 0 0 14px green, 0 0 28px green;
}

/* footer{
    display: grid;
    grid-template-columns: calc(65%/2) calc(65%/2) 35%;
    position: absolute;
    bottom: -0px;
    left: 0;
    height: 50px;
    width: 100%;
}

.one{
    background-color: hsla(0, 0%, 100%, 0.6);
}

.two{
    background-color: rgba(255, 255, 255, 0.6);
}

.three{
    background-color: #f6c832;
}
 */
/* A REFLECHIR */